.navbar{
    border: 1px solid rgb(249, 246, 246);
    background: rgb(224, 220, 220);
}
.navbar-box{
   
    /* &:hover{
        background: rgb(133, 149, 152);
    } */
    margin: 2.7rem;
}
.navbar-box-active{
  
    
    color: blue
  
}
.image{
    
    /* margin:auto */
    /* margin: auto; */
    margin-bottom: 5px;
    
}